/** biome-ignore-all lint/correctness/noUnknownFunction: random function is known in safari */
#skylayer {
	.star {
		position: absolute;

		/* make the size dynamic? */
		width: 3px;
		height: 3px;
		border-radius: 50%;

		background-color: white;
		opacity: 1;
		animation-duration: 3s;
		animation-name: flicker;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}

	@supports (width: random(1px, 10px)) {
		.star {
			width: random(1px, 5px);
			height: random(1px, 5px);
			left: random(2.5%, 95%);
			top: random(2.5%, 10%);
			animation-delay: random(0.1s, 1s);
		}
	}

	#star1 {
		left: 5%;
		top: 5%;

		animation-delay: 0.1s;
	}

	#star2 {
		left: 8.5%;
		top: 6.5%;
		animation-delay: 0.4s;
	}

	#star3 {
		left: 25%;
		top: 8%;

		animation-delay: 0.3s;
	}

	#star4 {
		left: 27.5%;
		top: 6.5%;

		animation-delay: 0.7s;
	}

	#star5 {
		left: 28%;
		top: 9.5%;

		animation-delay: 1s;
	}

	#star6 {
		right: 39.5%;
		top: 8%;
		animation-delay: 0.9s;
	}

	#star7 {
		right: 45%;
		top: 11%;
		animation-delay: 0.2s;
	}

	#star8 {
		right: 17.5%;
		top: 3%;

		animation-delay: 0.8s;
	}

	#star9 {
		right: 15%;
		top: 2%;
		animation-delay: 0.6s;
	}

	#star10 {
		right: 5%;
		top: 11.5%;
		animation-delay: 0.5s;
	}

	#star11 {
		left: 45%;
		top: 2.5%;
		animation-delay: 0.1s;
	}

	.cloud {
		/* background-color: red; */
		width: 400px;
		height: 200px;
		position: absolute;
	}

	.cloudpuff {
		position: absolute;
		width: 100px;
		border-radius: 50%;
		box-shadow: 0px 0px 50px 10px rgb(255 255 255 / 100%);
	}

	#cloud1 {
		right: 20%;
		top: 10%;

		#cloudpuff1 {
			top: 22.5%;
			left: 10%;
		}

		#cloudpuff2 {
			top: 20%;
			right: 40%;
		}

		#cloudpuff3 {
			top: 45%;
			right: 50%;
		}
	}

	#cloud2 {
		left: 10%;
		top: 5%;

		#cloudpuff1 {
			top: 22.5%;
			left: 10%;
		}

		#cloudpuff2 {
			top: 20%;
			right: 40%;
		}

		#cloudpuff3 {
			top: 45%;
			right: 50%;
		}
	}

	#cloud3 {
		right: 1%;
		top: 5%;

		#cloudpuff1 {
			top: 22.5%;
			left: 10%;
		}

		#cloudpuff2 {
			top: 20%;
			right: 40%;
		}

		#cloudpuff3 {
			top: 45%;
			right: 50%;
		}
	}
}

@keyframes flicker {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 25%;
	}

	100% {
		opacity: 1;
	}
}
